In [1]:
import pandas as pd
import json

In [2]:
def flatten_json_dict(js_dict):
    return ":".join(json.loads(js_dict).values())

In [3]:
plot_summaries = pd.read_table('dataset/plot_summaries.txt', header=None, names=["wiki_id", "summary"], index_col=0)

#names_clusters maps character_metadata entries to character names. (probably useless)
names_clusters = pd.read_table('dataset/name.clusters.txt', header=None, names=["character", "fb_id"])
names_clusters = names_clusters.drop_duplicates()
names_clusters.index = names_clusters.fb_id
names_clusters = names_clusters[["character"]]

tv_tropes_clusters = pd.read_table('dataset/tvtropes.clusters.txt', header=None)
tv_tropes_clusters = pd.concat(objs=[tv_tropes_clusters[[0]], pd.json_normalize(tv_tropes_clusters[1].apply(json.loads))], axis=1)
tv_tropes_clusters.columns = ["trope", "character", "movie", "fb_char_id", "actor"]

movies_metadata = pd.read_table('dataset/movie.metadata.tsv', header=None, names=["wiki_id", "fb_id", "name", "release_date", "revenue", "runtime", "language", "country", "genre"])
movies_metadata.language = movies_metadata.language.apply(flatten_json_dict)
movies_metadata.country = movies_metadata.country.apply(flatten_json_dict)
movies_metadata.genre = movies_metadata.genre.apply(flatten_json_dict)

# I don't know what the column "something" means
character_metadata = pd.read_table('dataset/character.metadata.tsv', header=None, names=["wiki_movie_id", "fb_movie_id", "movie_date", "character", "date_of_birth", "gender", "height", "ethnicity", "actor", "actor_age", "fb_id", "something", "something_else"], index_col="fb_id")

# Ethnic groups mapping (queried from wikidata)
ethnic_groups = pd.read_csv('dataset/ethnic_groups.csv', index_col="freebaseID")

In [4]:
plot_summaries

                                                    summary
wiki_id
23890098  Shlykov, a hard-working taxi driver and Lyosha...
31186339  The nation of Panem consists of a wealthy Capi...
20663735  Poovalli Induchoodan  is sentenced for six yea...
2231378   The Lemon Drop Kid , a New York City swindler,...
595909    Seventh-day Adventist Church pastor Michael Ch...
...                                                     ...
34808485  The story is about Reema , a young Muslim scho...
1096473   In 1928 Hollywood, director Leo Andreyev  look...
35102018  American Luthier focuses on Randy Parsons’ tra...
8628195   Abdur Rehman Khan , a middle-aged dry fruit se...
6040782   1940 - Operation Dynamo has just taken place. ...

[42303 rows x 1 columns]

In [5]:
names_clusters

                  character
fb_id
/m/0k3w9c     Stuart Little
/m/0k3wcx     Stuart Little
/m/0k3wbn     Stuart Little
/m/0jyg35          John Doe
/m/0k2_zn          John Doe
...                     ...
/m/0k5_ql        John Rolfe
/m/02vd6vs       John Rolfe
/m/0k1xvz   Elizabeth Swann
/m/0k1x_d   Elizabeth Swann
/m/0k1xxy   Elizabeth Swann

[2661 rows x 1 columns]

In [6]:
tv_tropes_clusters

,trope,character,movie,fb_char_id,actor
0,absent_minded_professor,Professor Philip Brainard,Flubber,/m/0jy9q0,Robin Williams
1,absent_minded_professor,Professor Keenbean,Richie Rich,/m/02vchl3,Michael McShane
2,absent_minded_professor,Dr. Reinhardt Lane,The Shadow,/m/0k6fkc,Ian McKellen
3,absent_minded_professor,Dr. Harold Medford,Them!,/m/0k6_br,Edmund Gwenn
4,absent_minded_professor,Daniel Jackson,Stargate,/m/0k3rhh,James Spader
...,...,...,...,...,...
496,young_gun,Morgan Earp,Tombstone,/m/0k776f,Bill Paxton
497,young_gun,Colorado Ryan,Rio Bravo,/m/0k2kqg,Ricky Nelson
498,young_gun,Tom Sawyer,The League of Extraordinary Gentlemen,/m/0k5nsh,Shane West
499,young_gun,William H. 'Billy the Kid' Bonney,Young Guns II,/m/03lrjk0,Emilio Estevez
500,young_gun,Jake,Silverado,/m/0k39jj,Kevin Costner

In [7]:
tv_tropes_clusters["trope"].unique()

array(['absent_minded_professor', 'adventurer_archaeologist',
       'arrogant_kungfu_guy', 'big_man_on_campus', 'bounty_hunter',
       'brainless_beauty', 'broken_bird', 'bromantic_foil',
       'bruiser_with_a_soft_center', 'bully', 'byronic_hero', 'casanova',
       'chanteuse', 'charmer', 'child_prodigy', 'classy_cat_burglar',
       'consummate_professional', 'corrupt_corporate_executive', 'coward',
       'crazy_jealous_guy', 'crazy_survivalist', 'cultured_badass',
       'dean_bitterman', 'dirty_cop', 'ditz', 'doormat',
       'drill_sargeant_nasty', 'dumb_blonde', 'dumb_muscle',
       'eccentric_mentor', 'egomaniac_hunter', 'evil_prince',
       'fastest_gun_in_the_west', 'father_to_his_men', 'final_girl',
       'gadgeteer_genius', 'gentleman_thief', 'granola_person',
       'grumpy_old_man', 'hardboiled_detective', 'heartbroken_badass',
       'henpecked_husband', 'hitman_with_a_heart', 'jerk_jock',
       'junkie_prophet', 'klutz', 'loser_protagonist', 'loveable_rogue',
       'master_swordsman', 'morally_bankrupt_banker',
       'officer_and_a_gentleman', 'ophelia', 'playful_hacker',
       'prima_donna', 'psycho_for_hire', 'pupil_turned_to_evil',
       'retired_outlaw', 'revenge', 'romantic_runnerup', 'self_made_man',
       'slacker', 'stoner', 'storyteller', 'stupid_crooks', 'surfer_dude',
       'the_chief', 'the_editor', 'tranquil_fury', 'trickster',
       'valley_girl', 'warrior_poet', 'young_gun'], dtype=object)

In [8]:
movies_metadata

,wiki_id,fb_id,name,release_date,revenue,runtime,language,country,genre
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,English Language,United States of America,Thriller:Science Fiction:Horror:Adventure:Supe...
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,English Language,United States of America,Mystery:Biographical film:Drama:Crime Drama
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,Norwegian Language,Norway,Crime Fiction:Drama
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,English Language,United Kingdom,Thriller:Erotic thriller:Psychological thriller
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,German Language,Germany,Drama
...,...,...,...,...,...,...,...,...,...
81736,35228177,/m/0j7hxnt,Mermaids: The Body Found,2011-03-19,NaN,120.0,English Language,United States of America,Drama
81737,34980460,/m/0g4pl34,Knuckle,2011-01-21,NaN,96.0,English Language,Ireland:United Kingdom,Biographical film:Drama:Documentary
81738,9971909,/m/02pygw1,Another Nice Mess,1972-09-22,NaN,66.0,English Language,United States of America,Satire:Comedy
81739,913762,/m/03pcrp,The Super Dimension Fortress Macross II: Lover...,1992-05-21,NaN,150.0,Japanese Language,Japan,Science Fiction:Japanese Movies:Adventure:Anim...
81740,12476867,/m/02w7zz8,Spliced,2002,NaN,86.0,English Language,Canada,Thriller:Horror:Slasher:Teen

In [9]:
# get movies metadata with an associated summary
movies_with_summaries = pd.merge(movies_metadata, plot_summaries, on="wiki_id")
print("We lost %d movie summaries in the process"% (len(plot_summaries) - len(movies_with_summaries)))
movies_with_summaries

We lost 99 movie summaries in the process

,wiki_id,fb_id,name,release_date,revenue,runtime,language,country,genre,summary
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,English Language,United States of America,Thriller:Science Fiction:Horror:Adventure:Supe...,"Set in the second half of the 22nd century, th..."
1,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,English Language,United Kingdom,Thriller:Erotic thriller:Psychological thriller,A series of murders of rich young women throug...
2,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,German Language,Germany,Drama,"Eva, an upper class housewife, becomes frustra..."
3,18998739,/m/04jcqvw,The Sorcerer's Apprentice,2002,NaN,86.0,English Language,South Africa,Family Film:Fantasy:Adventure:World cinema,"Every hundred years, the evil Morgana returns..."
4,6631279,/m/0gffwj,Little city,1997-04-04,NaN,93.0,English Language,United States of America,Romantic comedy:Ensemble Film:Comedy-drama:Dra...,"Adam, a San Francisco-based artist who works a..."
...,...,...,...,...,...,...,...,...,...,...
42199,23851782,/m/06_vb43,The Ghost Train,1941-05-03,NaN,82.0,English Language,United Kingdom,Crime Fiction:Thriller:Comedy:Supernatural,{{plot}} The film opens with a Great Western e...
42200,35228177,/m/0j7hxnt,Mermaids: The Body Found,2011-03-19,NaN,120.0,English Language,United States of America,Drama,Two former National Oceanic Atmospheric Admini...
42201,34980460,/m/0g4pl34,Knuckle,2011-01-21,NaN,96.0,English Language,Ireland:United Kingdom,Biographical film:Drama:Documentary,{{No plot}} This film follows 12 years in the ...
42202,913762,/m/03pcrp,The Super Dimension Fortress Macross II: Lover...,1992-05-21,NaN,150.0,Japanese Language,Japan,Science Fiction:Japanese Movies:Adventure:Anim...,"The story takes place in the year 2092,The Sup..."
42203,12476867,/m/02w7zz8,Spliced,2002,NaN,86.0,English Language,Canada,Thriller:Horror:Slasher:Teen,The movie is about a teenage girl who loves ho...

In [10]:
found_ethnicities = pd.merge(character_metadata, ethnic_groups, how="left", left_on="ethnicity", right_on="freebaseID")
now_count = found_ethnicities.name.count()
previous_count = character_metadata.ethnicity.count()
ratio = 100.0 - 100.0*(now_count/previous_count)
print("There were %d rows with ethnicities, and we can resolve %d of them. We lost %.1f%% of rows"% (previous_count, now_count, ratio))

dictionnary = {}
for fbID, name in ethnic_groups.name.iteritems():
    dictionnary[fbID] = name

character_metadata.ethnicity = character_metadata.ethnicity.map(dictionnary)

There were 106058 rows with ethnicities, and we can resolve 48652 of them. We lost 54.1% of rows

In [11]:
character_metadata

,wiki_movie_id,fb_movie_id,movie_date,character,date_of_birth,gender,height,ethnicity,actor,actor_age,something,something_else
fb_id,,,,,,,,,,,,
/m/0bgchxw,975900,/m/03vyhn,2001-08-24,Akooshay,1958-08-26,F,1.620,NaN,Wanda De Jesus,42.0,/m/0bgcj3x,/m/03wcfv7
/m/0jys3m,975900,/m/03vyhn,2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.780,NaN,Natasha Henstridge,27.0,/m/0bgchn4,/m/0346l4
/m/0jys3g,975900,/m/03vyhn,2001-08-24,Desolation Williams,1969-06-15,M,1.727,NaN,Ice Cube,32.0,/m/0bgchn_,/m/01vw26l
/m/02vchl6,975900,/m/03vyhn,2001-08-24,Sgt Jericho Butler,1967-09-12,M,1.750,NaN,Jason Statham,33.0,/m/0bgchnq,/m/034hyc
/m/02vbb3r,975900,/m/03vyhn,2001-08-24,Bashira Kincaid,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,/m/0bgchp9,/m/01y9xg
...,...,...,...,...,...,...,...,...,...,...,...,...
/m/0kr406c,913762,/m/03pcrp,1992-05-21,Elensh,1970-05,F,NaN,NaN,Dorothy Elias-Fahn,NaN,/m/0kr406h,/m/0b_vcv
/m/0kr405_,913762,/m/03pcrp,1992-05-21,Hibiki,1965-04-12,M,NaN,NaN,Jonathan Fahn,27.0,/m/0kr4090,/m/0bx7_j
/m/0g8ngmc,28308153,/m/0cp05t9,1957,NaN,1941-11-18,M,1.730,English people,David Hemmings,15.0,NaN,/m/022g44
/m/0g8ngmj,28308153,/m/0cp05t9,1957,NaN,NaN,NaN,NaN,NaN,Roberta Paterson,NaN,NaN,/m/0g8ngmm
/m/0g8ngmw,28308153,/m/0cp05t9,1957,NaN,NaN,NaN,NaN,NaN,John Rogers,NaN,NaN,/m/0btz19d

In [12]:
movies_metadata.revenue.describe().apply(int)

count          8401
mean       47993625
std       112175292
min           10000
25%         2083193
50%        10639686
75%        40716963
max      2782275172
Name: revenue, dtype: int64

In [13]:
movies_metadata.release_date.describe(datetime_is_numeric=False)

count     74839
unique    20389
top        2006
freq       1011
Name: release_date, dtype: object

In [15]:
character_metadata.ethnicity.unique()

array([nan, 'Omaha people', 'Indian Americans', 'Italians',
       'German Americans', 'Ezhava', 'Malayali', 'Armenians',
       'Marathi people', 'Lithuanian American', 'Italian Americans',
       'Danish Americans', 'Scottish American', 'English people',
       'Irish people', 'European Americans', 'Russian Americans',
       'Gujarati people', 'Spanish American', 'Bihari people', 'Nair',
       'Cuban American', 'Canadian Americans', 'Russians',
       'Yoruba people', 'Japanese people', 'Scandinavian Americans',
       'Filipino Americans', 'Swedish Americans', 'Finnish Americans',
       'Koreans', 'Welsh people', 'white Americans', 'Bengali people',
       'Iranian people', 'Dutch American', 'Hungarian Americans',
       'Gaud Saraswat Brahmin', 'Bunt', 'Afghans in India',
       'Hispanic and Latino Americans', 'Swedes', 'Sindhis', 'Tamil',
       'Italian Canadians', 'Guyanese American', 'Japanese American',
       'Punjabis', 'Bengali Hindus', 'Kanyakubja Brahmins',
       'White British', 'Scottish Australian',
       'White Africans of European ancestry', 'Stateside Puerto Ricans',
       'Cherokee', 'Tamil Brahmin', 'Serbian Americans',
       'Dominican American', 'Polish Americans', 'Hongkongers',
       'Rusyn American', 'French Canadians', 'Pashtuns',
       'British Indian people', 'Telugu people', 'Kayastha',
       'Scotch-Irish Americans', 'Sri Lankan Tamils', 'Asian people',
       'Brahmin', 'Telugu Brahmins', 'Italian Australian',
       'Australian American', 'Czech Americans', 'Jatt Sikh', 'Jats',
       'Scottish people', 'British Americans', 'Sicilian Americans',
       'English Australian', 'French Chilean', 'Multiracial American',
       'Albanian American', 'Austrian Americans', 'Romani',
       'Greeks in South Africa', 'French Americans', 'Native Hawaiians',
       'Slovaks', 'Chinese Americans', 'Greek American', 'Hungarians',
       'Romanichal', 'Parsi', 'Indonesian Americans',
       'Colombian Americans', 'Slovak Americans', 'Black Canadians',
       'Anglo-Celtic Australians', 'Aboriginal Australians', 'Latvians',
       'Criollo people', 'Norwegian Americans', 'Portuguese Americans',
       'Bolivian American', 'Konkani people', 'Samoan American',
       'Armenian American', 'Afro Trinidadians and Tobagonians',
       'Moroccan Americans', 'Irish Canadians', 'Scottish Canadians',
       'Kannada people', 'Italian Brazilians', 'Taiwanese Americans',
       'English Canadians', 'Cajun', 'Colombian Australian',
       'Syrian Americans', 'Pacific Islander Americans',
       'Chilean American', 'Tamil Americans', 'Israelis', 'Afro-Cuban',
       'Welsh American', 'Nepali Indian',
       'Iranians in the United Kingdom', 'Akan people',
       'Croatian Canadians', 'Māori', 'Mizrahi Jews', 'Chinese Filipino',
       'Pakistani Canadians', 'indigenous peoples of the Americas',
       'Estonians', 'Dalmatian Italians', 'Ashkenazi Jews',
       'Romanian Americans', 'Eurasian', 'Chinese Singaporeans',
       'Korean American', 'Moroccan Jews', 'British Jews', 'Belarusians',
       'Blackfoot Confederacy', 'British Chinese', 'Polish Canadians',
       'Chitrapur Saraswat Brahmin', 'Sámi people',
       'Filipino Australians', 'Czechs', 'Russian Canadians',
       'Anglo-Indian people', 'Croatian Americans', 'Hispanic',
       'Tulu people', 'Serbs in the United Kingdom', 'Kapampangan people',
       'Ilocano people', 'Ojibwe', 'Marwari people',
       'Brazilian Americans', 'German Canadians', 'Mohyal', 'Castilians',
       'Bhutia', 'Iraqi Americans', 'Bosniaks',
       'Filipino people of Spanish ancestry', 'Sephardi Jews', 'Berbers',
       'Israeli Americans', 'Greek Canadians', 'Kikuyu', 'Xhosa people',
       'Poles', 'Dutch Australian', 'Serbs in North Macedonia', 'Croats',
       'Thai Chinese people', 'Galicians', 'Palestinian American',
       'Welsh Italians', 'Greek Cypriots', 'Poles in the United Kingdom',
       'Ecuadorian Americans', 'Mohawk people', 'Inuit', 'Sioux',
       'Lumbee', 'Malaysian Chinese', 'Hindkowans', 'Anglo-Irish people',
       'Canadians in the United Kingdom', 'Mangaloreans',
       'Slovene American', 'Aromanians',
       'Swedish-speaking population of Finland', 'Bulgarian Canadians',
       'Hmong American', 'Ukrainian Americans', 'Arabs in Bulgaria',
       'British Asian', 'White Latin American',
       'Italians in the United Kingdom', 'Burmese Americans', 'Finns',
       'Irish Australian', 'Lao people', 'Croatian Australian',
       'Vietnamese people', 'Kashmiri people', 'Rohilla',
       'South African American', 'Indian diaspora in France',
       'Danish Canadians', 'Ukrainians', 'Ghanaian American',
       'Polish Australian', 'Agrawal', 'Albanians', 'Chinese Canadians',
       'Sudanese Arabs', 'Peruvians in the United Kingdom',
       'Sierra Leoneans in the United Kingdom', 'Arabs', 'Sinhalese',
       'Cree', 'Cambodian Americans', 'Chinese Jamaicans', 'Acadians',
       'Muhajir', 'Honduran Americans', 'Lebanese immigration to Mexico',
       'Serbian Australian', 'Indo-Canadians', 'Persians',
       'Swedish Canadians', 'Sudanese Australians',
       'Vietnamese Americans', 'Haitian American', 'Pakistani American',
       'Kabyle people', 'Bahamian Americans', 'British Jamaican',
       'rajput', 'Turkish Americans', 'Chileans in the United Kingdom',
       'Gibraltarian people', 'Sri Lankan Americans',
       'Louisiana Creole people',
       'Latin American migration to the United Kingdom',
       'Salvadoran Americans', 'Venezuelan Americans', 'Latino',
       'Nigerian American', 'Dinka people', 'Apache', 'Bulgarians',
       'Somalis', 'Arab Mexican', 'Ryukyuan people',
       'Canadian Australian', 'Ukrainian Canadians',
       'Austrians in the United Kingdom', 'Dutch Canadians',
       'Luxembourgish Americans', 'Mandinka people', 'Tibetan people',
       'Spanish people of Filipino ancestry', 'Corsicans', 'Sherpa',
       'Romanians', 'Malagasy people', 'Filipino mestizo',
       'Indian Australian', 'Armenians in Italy', 'Manchu', 'Buryats',
       'Cheyennes', 'Québécois', 'Armenians in Russia', 'Dene',
       'multiracial people', 'Spanish immigration to Mexico',
       'Romani people in Spain', 'Chettiar', 'Inupiat people',
       'Transylvanian Saxons', 'Greek Australian', 'Indo-Guyanese',
       'Latvian American', 'Panamanian American', 'Dalit',
       'Basque people', 'Indo Caribbeans',
       'British African Caribbean people', 'Tatars', 'Tejano',
       'Lebanese people in the United Kingdom', 'Métis', 'Ossetians',
       'Thai Americans', 'German Brazilians', 'Zhuang people',
       'Italian immigration to Mexico', 'Manx people',
       'Japanese Brazilians', 'Ho-Chunk', 'Greeks in the United Kingdom',
       'Barbadian American', 'Wolof people', 'Czech Australians',
       'Israeli Jews', 'Slovenes', 'Nez Perce people',
       'Swedish Australian', 'Afro-Guyanese', 'Dogra', 'Kurds',
       'Black Hispanic and Latino Americans', 'Gin people', 'Hazaras',
       'Hutsuls', 'Aymara', 'Oneida', 'Azerbaijanis',
       'Bangladeshi American', 'Thai people', 'Iranian Canadians',
       'Afrikaners', 'Sierra Leone Creole people', 'Georgians',
       'Han Chinese people'], dtype=object)